body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .home .post img {
  position: absolute;
  top: 1rem;
  left: -0.2rem;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 0.25rem;
} */

/* .home .post img {
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 80px;
} */

.home .post img {
  position: absolute;
  top: 1em;
  left: -5em;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 4em;
}
